@import "../node_modules/bulma/sass/utilities/_all.sass";

$dropdown-content-background-color: #363636;
$dropdown-item-hover-background-color: #363636;
$dropdown-item-hover-color: #D1D1D1;
$dropdown-item-color: $white;
$dropdown-content-offset: 14px;

@import "../node_modules/bulma/sass/base/helpers";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/components/dropdown.sass";